@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Merienda+One|Norican|Pacifico");
/****************************/
/* first 初めての方へ */
/***************************/
/* Green Forestとは */
#aboutus {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#aboutus article {
  margin-top: 20px;
}

#aboutus article .wrapper {
  display: flex;
}

#aboutus .wrapper img {
  width: 170px;
}

#case {
  text-indent: 30px;
  list-style: none;
}

#case li:before {
  font-family: FontAwesome;
  content: '\f086';
  /* アイコンのunicode */
}

/****************************/
/* 施術料金 */
/***************************/
#pricelist {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#pricelist table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#pricelist table #h {
  width: 30%;
}

#pricelist table th {
  background-color: #B0FFA9;
  background-color: #b7ffb7;
}

#pricelist table td {
  background-color: #fff;
}

/****************************/
/* よくある質問 */
/***************************/
#QandA {
  width: 80%;
  font-family: メイリオ;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;

  /*全体のフォントサイズ*/
}

#QandA dt {
  background: #B0FFA9;
  /* 「Q」タイトルの背景色 */
  background: #b7ffb7;
  font-weight: bold;
  padding: 8px;
  border-radius: 25px;
}

#QandA dt:before {
  content: "Q.";
  font-weight: bold;
  margin-right: 8px;
}

#QandA dd {
  margin: 24px 16px 40px 32px;
  line-height: 140%;
  text-indent: -24px;
}

#QandA dd:before {
  content: "A.";
  font-weight: bold;
  margin-right: 8px;
}

#QandA .strong {
  font-weight: bold;
}

/****************************/
/* trouble トラブルの原因 */
/***************************/
#trouble {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#trouble article {
  margin-top: 20px;
}

#trouble article .wrapper {
  display: flex;
}
#trouble .wrapper .article {
  width: 80%;
}

#trouble .wrapper .thumb {
  width: 20%;
}
/****************************/
/* voice お客様の声 */
/***************************/
#voice {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#voice article {
  margin-top: 20px;
}

#voice article .wrapper {
  display: flex;
}
#voice .wrapper .article {
  width: 80%;
}

#voice .wrapper .thumb {
  width: 20%;
}
/****************************/
/* blog ブログ */
/***************************/
#blog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#blog article {
  margin-top: 20px;
}

#blog article .wrapper {
  display: flex;
}

#blog .wrapper img {
  width: 170px;
}

/****************************/
/* News 新着情報 */
/***************************/
#news-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}

#news-section article {
  margin-top: 20px;
}

#news-section h2,
#news-section h3,
#news-section span {
	clear:both;
}

#news-section .article {
	width: 80%;
	float: left;
}
#news-section .thumb {
	width: 20%;
	float: right;
}
/*
#news-section .thumb img {
  width: 200px;
}*/

#news-section .date {
  width: 20%;
  background: #cccccc;
  /* 背景色 */
  font-weight: bold;
  padding: 0 10px;
  border-radius: 25px;
}

/****************************/
/* contact お問合せ・予約 */
/***************************/
#contact #mailform {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#contact #mailform ul {
  list-style-type: square;
}

#contact #mailform ul li {
  margin-left: 30px;
  list-style-type: square;

}

#contact #mailform strong {
  color: red;
}

#contact #mailform table tr:last-child {
  text-align: center;
}
#form {
	padding: 30px;
	margin-top: 10px;
}
#form .wpcf7-form-control-wrap input {
	margin-bottom: 12px;
}
